<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender (вывод в консоль) -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровень логирования для всего приложения -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Вы можете создать дополнительные логеры для отдельных пакетов или классов -->
    <logger name="com.example" level="info"/>

</configuration>